/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: .9em;
  font-family: sans-serif;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a  tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 2em;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
	width: 100%;
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/** Panels brah **/
#content-inside {
	background-color: white;
	padding: 1em;
}

/** user profile brooo **/
#main-profile {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
#main-profile-wrapper {
	display: inline;
	float: left;
	width: 100%;
	height: 100%
	padding: 1em;
	background-color: #dff1f4;
}
#main-profile-1 {
	width: 215px !important;
}
#main-profile-1  .main-profile-avatar {
	background: white;
	padding: 0.5em;
	  background:
        -moz-linear-gradient(45deg, transparent 2px, #ffffff 2px),
        -moz-linear-gradient(135deg, transparent 2px, #ffffff 2px),
          -moz-linear-gradient(225deg, #fffffft 2px, #ffffff 2px),
        -moz-linear-gradient(315deg, #ffffff 2px, #ffffff 2px);
    background:
        -o-linear-gradient(45deg, transparent 2px, #ffffff 2px),
        -o-linear-gradient(135deg, transparent 2px, #ffffff 2px),
                -o-linear-gradient(225deg, #ffffff 2px, #ffffff 2px),
        -o-linear-gradient(315deg, #fffffft 2px, #ffffff 2px);
    background:
        -webkit-linear-gradient(45deg, transparent 2px, #ffffff 2px),
        -webkit-linear-gradient(135deg, transparent 2px, #ffffff 2px),
                -webkit-linear-gradient(225deg, #ffffff 2px, #ffffff 2px),
        -webkit-linear-gradient(315deg, #ffffff 2px, #ffffff 2px);
    background-position: bottom left, bottom right, top left, top right;
    -moz-background-size: 50% 50%;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;        
    border: #abadb0;
}

#main-profile-2,
#main-profile-4 {
	width: 22%;
}
#main-profile-3 {
	width: 300px !important;
    float: right !importnat;

}
#main-profile-3  .main-profile-location {
	background: white;
	width: 300px;
	padding: 0.5em;
	  background:
        -moz-linear-gradient(45deg, transparent 2px, #ffffff 2px),
        -moz-linear-gradient(135deg, transparent 2px, #ffffff 2px),
          -moz-linear-gradient(225deg, #fffffft 2px, #ffffff 2px),
        -moz-linear-gradient(315deg, #ffffff 2px, #ffffff 2px);
    background:
        -o-linear-gradient(45deg, transparent 2px, #ffffff 2px),
        -o-linear-gradient(135deg, transparent 2px, #ffffff 2px),
                -o-linear-gradient(225deg, #ffffff 2px, #ffffff 2px),
        -o-linear-gradient(315deg, #fffffft 2px, #ffffff 2px);
    background:
        -webkit-linear-gradient(45deg, transparent 2px, #ffffff 2px),
        -webkit-linear-gradient(135deg, transparent 2px, #ffffff 2px),
                -webkit-linear-gradient(225deg, #ffffff 2px, #ffffff 2px),
        -webkit-linear-gradient(315deg, #ffffff 2px, #ffffff 2px);
    background-position: bottom left, bottom right, top left, top right;
    -moz-background-size: 50% 50%;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;        
    border: #abadb0;
}

#main-profile-1,
#main-profile-2,
#main-profile-3,
#main-profile-4 {
	display: inline-block;
	float: left;
	padding: 1em;
	margin: 0;
	min-height: 100%;
} 

/* my portfolios */
/* portfolio feed styles */
body.page-user .brenham-flipped-container {
	margin-bottom: 0;
}
div.pane-tracker-spaceblues-profile-portfolios-feed h2 {
	margin-top: 0;
	margin-bottom: 0;
}
#user-profile-container {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}
#user-profile-container .user-profile-my-portfolios {
	float: left;
	min-height: 100%;
	background: #dff1f4;
	margin: 1em;
	padding: 0.5em;
	width: 300px !important;
}
#user-profile-container .user-profile-portfolios-thumbnails {
	width: 300px;
	min-height: 200px;
	padding: 1%;
	margin: auto;
	text-align: center;
	display: inline;
	float: left;
}
#user-profile-container .user-profile-portfolios-details {
	float: left;
	width: 300px;
	min-height: 100%;
	margin: 1em 0;
}
#user-profile-container .user-profile-portfolios-details div {
	padding: 0 0.5em;
}
#user-profile-container .category {
	font-size: 0.7em;
}
#user-profile-container .user-profile-portfolios-details div a {
	text-decoration: none;
	font-size: 1.5em;
	color: #df2126;
}
#user-profile-container div .user-profile-portfolios-item img {
	padding: 1em;
	vertical-align: top;
	text-align: center;
	border: #abadb0;
}

#user-profile-container div .user-profile-portfolios-item p {
	margin: 0;
}
.user-profile-portfolios-actions {
	width: 300px;
	display: block;
	float: left;
	
}
.user-profile-portfolios-actions a,
.user-profile-portfolios-actions a:link,
.user-profile-portfolios-actions a:visited {
	text-decoration: none;
	color: white;
}
.user-profile-portfolios-actions .user-profile-portfolios-comment-count {
	background-image: url('../images/comment_count.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: white;
	width: 25px;
	height: 20px;
	float: left;
}
.user-profile-portfolios-actions .user-profile-portfolios-comment-count .text {
	text-align: center;
	line-height: 1.25em;
}

.user-profile-portfolios-actions .user-profile-portfolios-favorite-count {
	background-image: url('../images/favorite_count.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: white;
	width: 25px;
	height: 20px;
	float: left;
}
.user-profile-portfolios-actions .user-profile-portfolios-favorite-count .text {
	text-align: center;
	line-height: 1.4em;
}


/** portfolio view bitches */
.node-media-gallery {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#portfolio-info {
	float: left;
	width: 35%;
	background-color: #f2f4f5;
	padding: 1em;
}
#portfolio-info .portfolio-author-avatar {
	float: left;
}
#portfolio-info .portfolio-author {
	min-height: 50px;
}
#portfolio-info .portfolio-author .portfolio-author-name {
	padding: 1em;
}
#portfolio-info .portfolio-author .portfolio-author-name a,
#portfolio-info .portfolio-author .portfolio-author-name a:link,
#portfolio-info .portfolio-author .portfolio-author-name a:visited {
	color: #df2126;
	text-decoration: none;
	font-weight: bold;
}
#portfolio-info .portfolio-author .portfolio-author-name a:hover {
	color: #393df1;
}
#portfolio-info .portfolio-taxonomy .portfolio-taxonomy-category {

}
#portfolio-info .portfolio-taxonomy .portfolio-taxonomy-category .portfolio-taxonomy-category-label {
	display: inline;
	float: left;
	font-weight: bold;
}
#portfolio-info .portfolio-taxonomy .portfolio-taxonomy-category .field-name-field-category {
	display: inline;
	float: left;
}
#portfolio-info .portfolio-taxonomy .portfolio-taxonomy-category .field-name-field-category a {
	color: #df2126;
	text-decoration: none;
	font-weight: bold;
}
#portfolio-info .portfolio-taxonomy .portfolio-taxonomy-tags {
	clear: both;
}
#portfolio-info .portfolio-links {
	float: left;
	width: 100%;
}
#portfolio-info .portfolio-links .links {
	width: 100%;
	position: relative;
}
#portfolio-info .portfolio-links .links .links-links ul.links li.rpx_share_button {
	float: right;
}
#portfolio-info .portfolio-links .links .flags {
	float: left;
	width: 50%;	
}
#portfolio-favorite {
	display: inline;
}
#portfolio-favorite .favorite {
	display: inline-block;
	background-image: url('../images/favorite_count.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: white;
	width: 25px;
	height: 20px;
	float: left;	
}
#portfolio-favorite .favorite span.favorite-icon-text span.flag-favorite  a,
#portfolio-favorite .favorite span.favorite-icon-text span.flag-favorite  a:link,
#portfolio-favorite .favorite span.favorite-icon-text span.flag-favorite  a:visited {
	color: #df2126;
	text-align: center;
	margin: 0 auto; 
	padding: 0.5em;
	text-decoration: none;
	font-weight: 900;
}
#portfolio-favorite .favorite span.favorite-icon-text span.flag-favorite span.flag-message {
	color: black;
	font-weight: 600;
	float: left;
	z-index: 1999;
	width: 175px;
}
#portfolio-favorite .favorite-count {
	display: inline-block;
	background-image: url('../images/favorite_count.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: white;
	width: 25px;
	height: 25px;
	float: left;	
}
#portfolio-favorite .favorite-count span.favorite-count-text {
	text-align: center;
	line-height: 1.4em;
	margin: 0 auto;
	padding: 0.5em;
}
#portfolio-info .portfolio-links .links .links-links {
	float: right;
	width: 50%;
}
#portfolio-description {
	float: right;
	background-color: #f2f4f5;
	width: 55%;
	padding: 0.5em 1em;
	min-height: 100%;
}
#portfolio-description .action-links {
	width: auto;
	float: right;
	position: absolute;
	list-style: none;
	top: 3em;
	right: 2em;
}
#portfolio-description .action-links li a,
#portfolio-description .action-links li a:link,
#portfolio-description .action-links li a:visited {
	text-decoration: none;
	color: #df2126;
	font-weight: 900;
}
#portfolio-comments {
	padding: 1em 4em;
	background-color: #dff1f4;
}
#portfolio-comments .comments .comment {
	background-color: #eff8fa;
	padding: 10px 2em;
}
#portfolio-comments .comments .comment .field-name-comment-body {
	background-color: white;
	padding: 5em;
}

/* create a mother fuckin portfolio */
.form-item-field-category-und .form-item {
	display: inline;
	padding-right: 2em;
}
.fieldset-wrapper .gallery-settings {
	float: left;
	display: inline;
	position: relative;
	left: 5px;
	top: 12px;
	width: 325px;
}
.fieldset-wrapper .presentation-settings {
	display: inline;
	position: relative;
	left: 20px;
}
.node-form-has-region-right .form-region-main {
float: left;
width: 68%;
}
.node-form-has-region-right .form-region-footer {
	clear: both;
	display: none;
}